@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(0deg, #282D28 0%, #263d20 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  @apply text-leaf-400;
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  @apply text-leaf-450;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

#app {
  @apply flex items-center justify-center flex-col;
  width: 100%;
  padding: 2rem;
  text-align: center;

}



input, button {
  @apply bg-leaf-700 outline outline-1 outline-leaf-500 drop-shadow-xl;
  padding: 0.5em;
  border-radius: 4px;
  display: block;
  width: 100%;
  backdrop-filter: blur(5px);
  transition: outline-color 100ms linear, background-color 100ms linear;
}

input:focus, button:focus {
  @apply outline-leaf-400;

}

button:hover:not(:focus), input:hover:not(:focus) {
  @apply outline-leaf-450;
}

