@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Oswald;
  src: url(Oswald.woff2);
}

:root {
  font-family: Verdana, serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #dedddd;
  background-color: #272a2c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}


button.styled {
  @apply rounded;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: #476370;
  border-color: #345c75;
  border-style: solid;
  border-width: 1px;
  margin: 0.4em;
}

button.styled:hover {
  background-color: #476370;

}


button.red {
  @apply rounded;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: #f15858;
  border-color: #d21a1a;
  border-style: solid;
  border-width: 1px;
  color: white;
  margin: 0.4em;
}

button.styled:hover {
  background-color: #36494d;

}